/*
    THEME
    bg      : #030613
    main    : #4fcdb9
    white   : #e2f1f5
    grey    : #1e283a
    error   : #e32b2b
*/

.modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
    transition: opacity 0.2s ease-out;
    /*filter: blur(0);*/
}

.modal-content {
    position:fixed;
    background: #030613;
    width: 1000px;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.modal-off {
    position: absolute;
    opacity: 0;
}

p {
    margin:0;
}

.keys {
    max-width: 860px;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.controls p {
    font-size: .9rem;
    line-height: 0.75rem;
}   

.controls h3 {
    color: #4fcdb9;
    overflow: hidden;
    text-align: left;
}   

.controls h3:after, before {
    background-color: #1e283a;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 100%;
}  

.controls h3:before {
    background-color: #1e283a;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 55%;
}

.controls h3:before {
    right: 0.2em;
    margin-left: -50%;
}
.controls h3:after {
    left: 0.2em;
    margin-right: -50%;
}

.footer {
    display: grid;
    grid-auto-flow: row;
    text-align: center;
    align-items: center;
    color: #1e283a;
    line-height: 1rem;
    font-size: 0.75rem;
}

.footer a {
    color: #1e283a;
}

.icon-button {
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    transition: 0.25s;
    padding: 0.5rem;
    cursor: pointer;
}

.icon-button:hover {
    color: #4fcdb9
}

.text-button-active {
    color: #4fcdb9 !important;
}

a {
    /*color: #1e283a;*/
    transition: 0.25s;
    padding: 0.5rem;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #4fcdb9
}

a:active {
    color: #4fcdb9;
}

.debugger-container {
    position: static;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.hide-debugger {
    position: absolute;
    opacity: 0;
}

#root {
    height: 100vh;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
    display: grid;
    grid-auto-flow: row;
    gap: 1.5rem;
}

html, body {
    font-family: 'Roboto Mono', monospace;
    color: #1e283a;
    background-color: #030613;
    margin: 0;
    padding: 0;
};

/*
*   Debugger Styles
*/
.debugger {
    padding: 1rem;
}

.debug-toggle {
    display: none;
}

.debug-toggle + label {
    cursor: pointer;
    /*text-align: center;
    border-bottom: 1px solid #fff; 
    line-height: 0.1em;
    margin: 10px 0 20px;*/
}

/*.debug-toggle + label span {
    background:#000; 
    padding:0 10px; 
}*/

.test {
    overflow: hidden;
    text-align: center;
}
.test:before,
.test:after {
    background-color: #003B00;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 20%;
}
.test:before {
    right: 0.3em;
    
}
.test:after {
    left: 0.3em;
}

.debug-toggle + label + div {
    display: none;
    margin-bottom: 10px;
}

.debug-toggle:checked + label + div {
    display: block;
}

.debugger-content {
    border: 1px solid #003B00;
}

/**/

.de {
    border: 1px solid #1e283a;
    border-radius: 3px;
}

.de h3 {
    color: #4fcdb9;
    text-align: left;
    margin-left: 50px;
    margin-top: -15px;
    /*height: 20px;
    line-height: 20px;
    font-size: 15px;*/
}

.de h3 span {
    background-color: #030613;
}

.d-t {
    display: none;
}

.d-t + div h3 {
    cursor: pointer;
}

.d-t + div div {
    display: none;
}

.d-t:checked + div div {
    display: block;
}

.screen {
    /*border: 1px solid #1e283a;
    border-radius: 3px;*/
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.canvas {
    border: 1px solid #1e283a;
    border-radius: 3px;
}

kbd {
    color: #030613;
    background-color: #1e283a;
    /* font-weight: bold; */
    padding: 0.1rem 0.3rem;
    margin: 3px 0;
    border-radius: 0.1rem;
    display: inline-block;
    font-size: 0.7rem;
    line-height: 0.7rem;
}

/*
*   HEADER
*/

.menu {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    width: -moz-fit-content;
}

.header {
    grid-template-areas: "logo menu state";
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: .5rem;
}

.header h1 {
    margin: 0;
    color: #4fcdb9;
}

.state {
   line-height: .7rem;
}

.state p, button {
    font-size: 11.2px;
    margin: 0;
}

.state p span {
   color: #4fcdb9;
}

.text-button {
    transition: 0.25s;
    cursor: pointer;
    outline: none;

    border: none;
    background-color: inherit;
    padding: 0;
    margin: 0;
}

.text-button:hover, .text-button:focus {
    color: #4fcdb9;
};

