/*
    THEME
    bg      : #030613
    main    : #4fcdb9
    white   : #e2f1f5
    grey    : #1e283a
    error   : #e32b2b

    dark grey - #060916
    orange - #de935f
    white - #e2f1f5
    shiftbg light - 101320
*/

.scrollbar {
    scrollbar-color: #1e283a;
    scrollbar-width: thin; 
    scrollbar-color: #1e283a #030613;
}

ul {
    list-style-type:none;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    color: #e2f1f5;
}

ul li:nth-child(odd) {
    background-color: #060916;
}

li:hover {
    background-color: #4fcdb9 !important;
}

h4 {
    margin: 0;
}

p {
    margin:0;
}

a {
    /*color: #1e283a;*/
    transition: 0.25s;
    padding: 0.5rem;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #4fcdb9
}

a:active {
    color: #4fcdb9;
}

#root {
    height: 100vh;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
}

html, body {
    font-family: 'Roboto Mono', monospace;
    color: #1e283a;
    background-color: #030613;
    margin: 0;
    padding: 0;
};

