/*
    THEME
    bg      : #030613
    main    : #4fcdb9
    white   : #e2f1f5
    grey    : #1e283a
    error   : #e32b2b

    #1e283a
    orange - #de935f
    white - #e2f1f5
    shiftbg light - 101320
*/

.scrollbar {
    scrollbar-color: #1e283a;
    scrollbar-width: thin; 
    scrollbar-color: #1e283a #030613;
}

ul {
    list-style-type:none;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    color: #e2f1f5;
}

ul li:nth-child(odd) {
    background-color: #060916;
}

li:hover {
    background-color: #4fcdb9 !important;
}

.list-item-selected {
    background-color: #4fcdb9 !important;
}

.debugger-cpu-state {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.debugger-cpu-state-item {
    font-size: 0.8rem;
}

.debugger-cpu-state-container {
    margin-bottom: 1.5rem;
}

.debugger-cpu-state-container h4 {
    margin-bottom: 0.5rem !important;
}

.debugger-cpu-state-item span {
    font-weight: 600;
}

.debugger-cpu-state-item p {
    color: #de935f;
    background-color: #101320;
}

.memory-content {
    max-height: 200px;
    min-height: 200px;
    overflow-y: auto;
}

.memory-table {
    width: 100%;
    border-spacing: 0;
}

.memory-thead {
    font-size: 0.9rem;
}

.memory-tbody td {
    padding: 0;
    font-size: 0.8rem;
    color: #de935f;
}

.memory-tbody th {
    font-size: 0.9rem;
    text-align: left;
}

.memory-tbody tr:nth-child(odd){
    background-color: #060916;
}

/* cpu state table */
.cpu-state-table {
    width: 100%;
}

.cpu-state-tbody {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.cpu-state-tbody tr {
    font-size: 0.8rem;
}

.cpu-state-th {
    font-weight: 600;
}

.cpu-state-tbody tr td {
    color: #de935f;
}

.cpu-state-tbody tr:nth-child(2n - 2){
    background-color: #060916;
}

/*table {
    width: 100%;
}

tbody {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

tbody tr {
    font-size: 0.8rem;
}

th {
    font-weight: 600;
}

tr td {
    color: #de935f;
}

tbody tr:nth-child(2n - 2){
    background-color: #060916;
}*/

h4 {
    margin: 0;
}

.modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
    transition: opacity 0.2s ease-out;
    /*filter: blur(0);*/
}

.modal-content {
    position:fixed;
    background: #030613;
    width: 1024px;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.modal-off {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
}

.off {
    display: none;
}

p {
    margin:0;
}

.keys {
    max-width: 860px;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.controls p {
    font-size: .9rem;
    line-height: 0.75rem;
}   

.controls h3 {
    color: #4fcdb9;
    overflow: hidden;
    text-align: left;
}   

.controls h3:after, before {
    background-color: #1e283a;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 100%;
}  

.controls h3:before {
    background-color: #1e283a;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 55%;
}

.controls h3:before {
    right: 0.2em;
    margin-left: -50%;
}
.controls h3:after {
    left: 0.2em;
    margin-right: -50%;
}

.footer {
    display: grid;
    grid-auto-flow: row;
    text-align: center;
    align-items: center;
    color: #1e283a;
    line-height: 1rem;
    font-size: 0.75rem;
}

.footer a {
    color: #1e283a;
}

.icon-button {
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    transition: 0.25s;
    padding: 0.5rem;
    cursor: pointer;
}

.icon-button:hover {
    color: #4fcdb9
}

.text-button-active {
    color: #4fcdb9 !important;
}

a {
    /*color: #1e283a;*/
    transition: 0.25s;
    padding: 0.5rem;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #4fcdb9
}

a:active {
    color: #4fcdb9;
}

.debugger-container {
    position: static;
    opacity: 1;
    transition: opacity 0.5s linear;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
}

.hide-debugger {
    position: absolute;
    opacity: 0;
}

#root {
    height: 100vh;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
}

.container {
    display: grid;
    grid-auto-flow: row;
    gap: 2.0rem;
}

html, body {
    font-family: 'Roboto Mono', monospace;
    color: #1e283a;
    background-color: #030613;
    margin: 0;
    padding: 0;
};

/*
*   Debugger Styles
*/
.debugger {
    padding: 1rem;
}

.debug-toggle {
    display: none;
}

.debug-toggle + label {
    cursor: pointer;
}

.debug-toggle + label + div {
    display: none;
    margin-bottom: 10px;
}

.debug-toggle:checked + label + div {
    display: block;
}

.debugger-content {
    border: 1px solid #003B00;
}

/**/

.de {
    border: 1px solid #1e283a;
    border-radius: 3px;
    padding: 0rem 1rem 1rem 1rem;
}

.de h3 {
    color: #4fcdb9;
    text-align: left;
    margin-left: 50px;
    margin-top: -15px;
    /*height: 20px;
    line-height: 20px;
    font-size: 15px;*/
}

.de h3 span {
    background-color: #030613;
}

.content {
    display: grid;
   /* grid-template-areas: 
      "screen screen screen state"
      "disassembly disassembly memory memory";*/
    gap: 1.5rem;
}

.content-top {
    display: grid;
    grid-template-rows: 320px;
    grid-template-columns: 640px auto;
    gap: 1.5rem;
}

.content-bottom {
    display: grid;
    grid-template-rows: 250px;
    grid-template-columns: 500px 500px;
    gap: 1.5rem;
}

.screen {
    grid-area: screen;
}

.state {
    grid-area: state;
    display: grid;
    grid-template-rows: auto;
}

.state-content h4 {
    margin-bottom: 0.3rem;
}

.disassembly {
    grid-area: disassembly;
}

.disassembly-content {
    max-height: 200px;
    min-height: 200px;
    overflow-y: auto;
}

.memory {
    grid-area: memory
}

.canvas {
    border: 1px solid #1e283a;
    border-radius: 3px;
    image-rendering: crisp-edges; 
    image-rendering: -moz-crisp-edges;    
    image-rendering: -webkit-crisp-edges; 
}

#screen {
    image-rendering: -moz-crisp-edges;    
    image-rendering: -webkit-crisp-edges; 
    image-rendering: pixelated; 
}

kbd {
    color: #030613;
    background-color: #1e283a;
    /* font-weight: bold; */
    padding: 0.1rem 0.3rem;
    margin: 3px 0;
    border-radius: 0.1rem;
    display: inline-block;
    font-size: 0.7rem;
    line-height: 0.7rem;
}

/*
*   HEADER
*/

.menu {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    width: -moz-fit-content;
    width: fit-content;
}

.header {
    grid-template-areas: "logo menu state";
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: .5rem;
}

.header h1 {
    margin: 0;
    color: #4fcdb9;
}

.state {
   line-height: .7rem;
}

.state p, button {
    font-size: 11.2px;
    margin: 0;
}

.state p span {
   color: #4fcdb9;
}

.text-button {
    transition: 0.25s;
    cursor: pointer;
    outline: none;

    border: none;
    background-color: inherit;
    padding: 0;
    margin: 0;
}

.text-button:hover, .text-button:focus {
    color: #4fcdb9;
};
